<!DOCTYPE html>
<html lang = "it" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/t23/css/login.css}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  </head>
  <body>
    <div class="container">
      <h1>HOME</h1>
      <h1 th:text="${name}"></h1>
      <h1 th:text="${email}"></h1>
      <button type="button" class="google-login-button" onclick="window.location.href='/logout';">Logout</button>
    </div>
  </body>
</html>